@{
    ViewBag.Title = "What We Do";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="page-title">What We Do</div>
                <div class="content-area">
                    <main class="site-main">
                        <article>
                            <div class="entry-content">
                                <h1>Responsibility</h1>
                                <p>
                                    We create one website to open cousers for student who want improve my skill. Open some contest in website to show your skill with company.
                                </p>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
