@{
    ViewBag.Title = "Courses";
}

@section StyleCss {

}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="promo">
                <a href="http://sdedsynergy.org/about-us/what-we-do/">
                    <img src="http://i1370.photobucket.com/albums/ag272/duynguyena3win/e_learning/aspnet_zpsd6e78f4f.jpg" alt="Promo1" class="img-responsive">
                </a>

                <div class="promo-title">Create Website with ASP.NET MVC</div>
                <p>We believe we can help you create website by yourself with ASP.NET MVC.</p>
                <p>
                    <a href="http://sdedsynergy.org/about-us/what-we-do/"><button type="button" class="btn btn-default btn-sm">LEARN MORE</button></a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="promo">
                <a href="http://sdedsynergy.org/the-work/">
                    <img src="http://i1370.photobucket.com/albums/ag272/duynguyena3win/e_learning/aspnet_service_zps7a5c8c6b.jpg" alt="Promo2" class="img-responsive">
                </a>

                <div class="promo-title">Create Web Service in ASP.NET</div>
                <p>Create Website with APIs and Database Online, come with us.</p>
                <p>
                    <a href="http://sdedsynergy.org/the-work/"><button type="button" class="btn btn-default btn-sm">LEARN MORE</button></a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="promo">
                <a href="http://sdedsynergy.org/get-involved/"><img src="http://sdedsynergy.org/wp-content/themes/esa/img/promo3.jpg" alt="Promo3" class="img-responsive"></a>

                <div class="promo-title">Get Involved</div>
                <p>Together, we can create positive change in education.<br><br></p>
                <p>
                    <a href="http://sdedsynergy.org/get-involved/"><button type="button" class="btn btn-default btn-sm">LEARN MORE</button></a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="promo">
                <a href="http://sdedsynergy.org/news-events/"><img src="http://sdedsynergy.org/wp-content/themes/esa/img/promo4.jpg" alt="Promo4" class="img-responsive"></a>

                <div class="promo-title">News &amp; Events</div>
                <p>Click here for the latest updates from Education Synergy Alliance and our partners.</p>
                <p>
                    <a href="http://sdedsynergy.org/news-events/"><button type="button" class="btn btn-default btn-sm">LEARN MORE</button></a>
                </p>
            </div>
        </div>
    </div>
</div>